<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.bookshop.order.mapper.OrderMapper">

    <select id="findOrderFormItemsByCartItemIds"
            resultType="hello.bookshop.order.dto.response.OrderFormItemResponse">

        SELECT
            ci.cart_item_id,
            p.product_id,
            p.name AS product_name,
            p.author,
            p.publisher,
            pi.image_path,
            p.price,
            ci.quantity,
            p.stock_quantity
        FROM cart_item ci
        JOIN cart c
            ON ci.cart_id = c.cart_id
        JOIN product p
            ON ci.product_id = p.product_id
        LEFT JOIN product_image pi
            ON p.product_id = pi.product_id
        AND pi.image_type = 'THUMBNAIL'
        WHERE c.member_id = #{memberId}
        AND ci.cart_item_id IN
        <foreach collection="cartItemIds" item="cartItemId" open="(" separator="," close=")">
            #{cartItemId}
        </foreach>
        AND p.deleted_at IS NULL
        AND p.status = 'ACTIVE'

    </select>

    <insert id="saveOrder"
            parameterType="hello.bookshop.order.domain.Order"
            useGeneratedKeys="true"
            keyProperty="orderId">
        INSERT INTO orders(
            member_id,
            order_status,
            receiver_name,
            receiver_phone,
            zipcode,
            address,
            address_detail,
            total_price
        ) VALUES(
            #{memberId},
            #{orderStatus},
            #{receiverName},
            #{receiverPhone},
            #{zipcode},
            #{address},
            #{addressDetail},
            #{totalPrice}
        )
    </insert>

    <insert id="saveOrderItem"
            parameterType="hello.bookshop.order.domain.OrderItem"
            useGeneratedKeys="true"
            keyProperty="orderItemId">
        INSERT INTO order_item (
            order_id,
            cart_item_id,
            product_id,
            product_name,
            price,
            quantity,
            item_total_price
        ) VALUES (
            #{orderId},
            #{cartItemId},
            #{productId},
            #{productName},
            #{price},
            #{quantity},
            #{itemTotalPrice}
        )
    </insert>

    <update id="decreaseProductStock">
        UPDATE product
        SET status = CASE
                WHEN stock_quantity - #{quantity} = 0 THEN 'SOLD_OUT'
                ELSE status
            END,
            stock_quantity = stock_quantity - #{quantity}
        WHERE product_id = #{productId}
        AND deleted_at IS NULL
        AND status = 'ACTIVE'
        AND stock_quantity >= #{quantity}
    </update>

    <delete id="deleteOrderCartItems">

        DELETE ci
        FROM cart_item ci
        JOIN cart c
            ON ci.cart_id = c.cart_id
        WHERE c.member_id = #{memberId}
        AND ci.cart_item_id IN
        <foreach collection="cartItemIds" item="cartItemId" open="(" separator="," close=")">
            #{cartItemId}
        </foreach>

    </delete>

    <select id="findOrdersByMemberId"
            parameterType="long"
            resultType="hello.bookshop.order.dto.response.OrderListResponse">
        SELECT
            o.order_id,
            o.order_status,
            o.total_price,
            o.ordered_at,
            oi.product_name AS representative_product_name,
            pi.image_path AS representative_image_path,
            item_count.total_item_count
        FROM orders o
        JOIN (
            SELECT
                order_id,
                MIN(order_item_id) AS representative_order_item_id,
                COUNT(*) AS total_item_count
            FROM order_item
            GROUP BY order_id
        ) item_count
            ON o.order_id = item_count.order_id
        JOIN order_item oi
            ON item_count.representative_order_item_id = oi.order_item_id
        LEFT JOIN product_image pi
            ON oi.product_id = pi.product_id
        AND pi.image_type = 'THUMBNAIL'
        WHERE o.member_id = #{memberId}
        AND o.order_status NOT IN ('READY', 'FAILED')
        ORDER BY o.ordered_at DESC

    </select>

    <select id="findOrderDetailByOrderId"
            resultType="hello.bookshop.order.dto.response.OrderDetailResponse">

        SELECT
            o.order_id,
            o.order_status,
            o.total_price,
            p.payment_method,
            o.ordered_at,
            o.receiver_name,
            o.receiver_phone,
            o.zipcode,
            o.address,
            o.address_detail
        FROM orders o
        LEFT JOIN payment p
            ON o.order_id = p.order_id
        WHERE o.member_id = #{memberId}
        AND o.order_id = #{orderId}
        AND o.order_status NOT IN ('READY', 'FAILED')

    </select>

    <select id="findOrderDetailItemsByOrderId"
            parameterType="long"
            resultType="hello.bookshop.order.dto.response.OrderDetailItemResponse">

        SELECT
            oi.product_id,
            oi.product_name,
            pi.image_path,
            oi.price,
            oi.quantity,
            oi.item_total_price
        FROM order_item oi
        LEFT JOIN product_image pi
            ON oi.product_id = pi.product_id
            AND pi.image_type = 'THUMBNAIL'
        WHERE oi.order_id = #{orderId}
        ORDER BY oi.order_item_id ASC

    </select>
    
    <select id="countOrdersByMemberId"
            parameterType="long"
            resultType="int">
        SELECT COUNT(*)
        FROM orders
        WHERE member_id = #{memberId}
        AND order_status NOT IN ('READY', 'FAILED')
    </select>

    <select id="findRecentOrdersByMemberId"
            parameterType="long"
            resultType="hello.bookshop.order.dto.response.OrderListResponse">
        SELECT
        o.order_id,
        o.order_status,
        o.total_price,
        o.ordered_at,
        oi.product_name AS representative_product_name,
        pi.image_path AS representative_image_path,
        item_count.total_item_count
        FROM orders o
        JOIN (
        SELECT
        order_id,
        MIN(order_item_id) AS representative_order_item_id,
        COUNT(*) AS total_item_count
        FROM order_item
        GROUP BY order_id
        ) item_count
        ON o.order_id = item_count.order_id
        JOIN order_item oi
        ON item_count.representative_order_item_id = oi.order_item_id
        LEFT JOIN product_image pi
        ON oi.product_id = pi.product_id
        AND pi.image_type = 'THUMBNAIL'
        WHERE o.member_id = #{memberId}
        AND o.order_status NOT IN ('READY', 'FAILED')
        ORDER BY o.ordered_at DESC
        LIMIT 3
    </select>
    
    <!-- tossPayment -->
    
    <select id="findOrderItemsForPayment"
            parameterType="long"
            resultType="hello.bookshop.order.dto.response.OrderFormItemResponse">
        SELECT
            oi.cart_item_id,
            oi.product_id,
            oi.product_name,
            oi.price,
            oi.quantity,
            oi.item_total_price,
            p.stock_quantity
        FROM order_item oi
        JOIN product p
            ON oi.product_id = p.product_id
        WHERE oi.order_id = #{orderId}
        
        
    </select>
    
    <update id="updateOrderStatus">
        UPDATE orders
        SET order_status = #{orderStatus}
        WHERE order_id = #{orderId}
    </update>
    
    <delete id="deletePaidOrderCartItems">
        DELETE ci
        FROM cart_item ci
        JOIN cart c
            ON ci.cart_id = c.cart_id
        JOIN order_item oi
            ON ci.cart_item_id = oi.cart_item_id
        WHERE c.member_id = #{memberId}
        AND oi.order_id = #{orderId}
    </delete>

    <select id="findAdminOrders"
            parameterType="hello.bookshop.common.dto.PageRequest"
            resultType="hello.bookshop.order.dto.response.AdminOrderListResponse">
        SELECT
            o.order_id,
            m.name AS member_name,
            item_count.total_item_count,
            oi.product_name AS representative_product_name,
            o.total_price,
            o.order_status,
            o.ordered_at
        FROM
        orders o
        JOIN member m
            ON o.member_id = m.member_id
        JOIN (
            SELECT
                order_id,
                MIN(order_item_id) AS representative_order_item_id,
                COUNT(*) AS total_item_count
            FROM order_item
            GROUP BY order_id
        ) item_count
            ON o.order_id = item_count.order_id
        JOIN order_item oi
            ON item_count.representative_order_item_id = oi.order_item_id
        ORDER BY o.ordered_at DESC
        LIMIT #{size}
        OFFSET #{offset}


    </select>

    <select id="countAdminOrders"
            resultType="int">
        SELECT COUNT(*)
        FROM orders
    </select>

    <select id="findAdminOrderDetailsByOrderId"
            resultType="hello.bookshop.order.dto.response.AdminOrderDetailResponse">

        SELECT
            o.order_id,
            m.name AS member_name,
            m.email AS member_email,
            o.order_status,
            o.total_price,
            o.ordered_at,
            o.receiver_name,
            o.receiver_phone,
            o.zipcode,
            o.address,
            o.address_detail
        FROM orders o
        JOIN member m
            ON o.member_id = m.member_id
        WHERE o.order_id = #{orderId}

    </select>

    <select id="findOrderStatusByOrderId"
            parameterType="long"
            resultType="hello.bookshop.order.type.OrderStatus">
        SELECT order_status
        FROM orders
        WHERE order_id = #{orderId}
    </select>

    <update id="updateAdminOrderStatus">
        UPDATE orders
        SET order_status = #{orderStatus}
        WHERE order_id = #{orderId}
    </update>


</mapper>