<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.bookshop.product.mapper.ProductMapper">

    <insert id="saveProduct"
            parameterType="hello.bookshop.product.domain.Product"
            useGeneratedKeys="true"
            keyProperty="productId">

        INSERT INTO product (
            category_id,
            name,
            author,
            publisher,
            price,
            stock_quantity,
            description,
            status,
            created_by,
            updated_by
        ) VALUES (
            #{categoryId},
            #{name},
            #{author},
            #{publisher},
            #{price},
            #{stockQuantity},
            #{description},
            #{status},
            #{createdBy},
            #{updatedBy}
        )
    </insert>

    <insert id="saveProductImage"
            parameterType="hello.bookshop.product.domain.ProductImage">

        INSERT INTO product_image (
            product_id,
            original_file_name,
            stored_file_name,
            image_path,
            image_type,
            sort_order
        ) VALUES (
            #{productId},
            #{originalFileName},
            #{storedFileName},
            #{imagePath},
            #{imageType},
            #{sortOrder}
        )


    </insert>

    <select id="findAllByAdminProductList"
            parameterType="hello.bookshop.common.dto.PageRequest"
            resultType="hello.bookshop.product.dto.response.AdminProductListResponse">

        SELECT
            p.product_id,
            p.name,
            p.author,
            p.publisher,
            p.price,
            p.stock_quantity,
            p.status,
            c.category_name,
            p.created_at
        FROM product p
        LEFT JOIN category c
            ON p.category_id = c.category_id
        WHERE p.deleted_at IS NULL

        <if test="categoryId != null">
            AND p.category_id = #{categoryId}
        </if>

        <if test="status != null">
            AND p.status = #{status}
        </if>

        <if test="keyword != null">
            AND (
            p.name LIKE CONCAT('%', #{keyword}, '%')
            OR p.author LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        ORDER BY p.created_at DESC
        LIMIT #{size}
        OFFSET #{offset}



    </select>

    <select id="countAdminProductList"
            parameterType="hello.bookshop.common.dto.PageRequest"
            resultType="int">

        SELECT COUNT(*)
        FROM product p
        WHERE p.deleted_at IS NULL

        <if test="categoryId != null">
            AND category_id = #{categoryId}
        </if>

        <if test="status != null">
            AND p.status = #{status}
        </if>

        <if test="keyword != null">
            AND (
            p.name LIKE CONCAT('%', #{keyword}, '%')
            OR p.author LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

    </select>
    
    <select id="findAdminProductDetail"
            parameterType="long"
            resultType="hello.bookshop.product.dto.response.AdminProductDetailResponse">
        
        SELECT
            p.product_id,
            p.category_id,
            c.category_name,
            p.name,
            p.author,
            p.publisher,
            p.price,
            p.stock_quantity,
            p.description,
            p.status,
            p.created_at,
            p.updated_at
        FROM product p
        LEFT JOIN category c
            ON p.category_id = c.category_id
        WHERE p.product_id = #{productId}
        AND p.deleted_at IS NULL
        
    </select>
    
    <select id="findProductImagesByProductId"
            parameterType="long"
            resultType="hello.bookshop.product.dto.response.ProductImageResponse">

        SELECT
            product_image_id,
            image_path,
            image_type,
            sort_order
        FROM product_image
        WHERE product_id = #{productId}
        ORDER BY sort_order ASC

    </select>

    <select id="findByProductIdAndDeletedAtIsNull"
            parameterType="long"
            resultType="hello.bookshop.product.domain.Product">

        SELECT
            product_id,
            category_id,
            name,
            author,
            publisher,
            price,
            stock_quantity,
            description,
            status,
            created_by,
            updated_by,
            created_at,
            updated_at,
            deleted_at
        FROM product
        WHERE product_id = #{productId}
        AND deleted_at IS NULL

    </select>

    <update id="updateProduct"
            parameterType="hello.bookshop.product.domain.Product">

        UPDATE product
        SET
        category_id = #{categoryId},
        name = #{name},
        author = #{author},
        publisher = #{publisher},
        price = #{price},
        stock_quantity = #{stockQuantity},
        description = #{description},
        status = #{status},
        updated_by = #{updatedBy},
        updated_at = NOW()
        WHERE product_id = #{productId}

    </update>
    
    <select id="findThumbnailImageByProductId"
            parameterType="long"
            resultType="hello.bookshop.product.domain.ProductImage">
        SELECT
            product_image_id,
            product_id,
            original_file_name,
            stored_file_name,
            image_path,
            image_type,
            sort_order,
            created_at
        FROM product_image
        WHERE product_id = #{productId}
        AND image_type = 'THUMBNAIL'
        LIMIT 1
    </select>
    
    <select id="findProductImagesByProductIdAndType"
            resultType="hello.bookshop.product.domain.ProductImage">

        SELECT
        product_image_id,
        product_id,
        original_file_name,
        stored_file_name,
        image_path,
        image_type,
        sort_order,
        created_at
        FROM product_image
        WHERE product_id = #{productId}
        AND image_type = #{imageType}
        ORDER BY sort_order ASC


    </select>
    
    <delete id="deleteThumbnailImageByProductId"
            parameterType="long">
        DELETE
        FROM product_image
        WHERE product_id = #{productId}
        AND image_type = 'THUMBNAIL'
    </delete>

    <delete id="deleteProductImagesByProductIdAndType">
        DELETE
        FROM product_image
        WHERE product_id = #{productId}
        AND image_type = #{imageType}
    </delete>

    <select id="countAllProducts" resultType="long">
        SELECT COUNT(*)
        FROM product
        WHERE deleted_at IS NULL

    </select>

    <select id="countSoldOutProducts" resultType="long">
        SELECT COUNT(*)
        FROM product
        WHERE deleted_at IS NULL AND status = 'SOLD_OUT'
    </select>

    <update id="deleteProduct" parameterType="hello.bookshop.product.domain.Product">
        UPDATE product
        SET status = #{status},
            updated_by = #{updatedBy},
            updated_at = NOW(),
            deleted_at = NOW()
        WHERE product_id = #{productId}
        AND deleted_at IS NULL
    </update>

    <select id="findLatestProduct" resultType="hello.bookshop.home.dto.response.HomeProductResponse">

        SELECT
            p.product_id,
            p.name,
            p.author,
            p.publisher,
            p.price,
            p.stock_quantity,
            pi.image_path
        FROM product p
        LEFT JOIN product_image pi
            ON p.product_id = pi.product_id
            AND pi.image_type = 'THUMBNAIL'
        WHERE p.deleted_at IS NULL
        AND p.status = 'ACTIVE'
        ORDER BY p.created_at DESC
        LIMIT 4

    </select>
    
    <select id="findUserProductList"
            parameterType="hello.bookshop.common.dto.PageRequest"
            resultType="hello.bookshop.product.dto.response.UserProductListResponse">

        SELECT
            p.product_id,
            p.category_id,
            c.category_name,
            p.name,
            p.author,
            p.publisher,
            p.price,
            p.stock_quantity,
            pi.image_path
        FROM product p
        LEFT JOIN category c
            ON p.category_id = c.category_id
        LEFT JOIN product_image pi
            ON p.product_id = pi.product_id
            AND pi.image_type = 'THUMBNAIL'
        WHERE p.deleted_at IS NULL
        AND p.status = 'ACTIVE'

        <if test="categoryId != null">
            AND p.category_id = #{categoryId}
        </if>

        <if test="keyword != null and keyword != ''">
            AND (
            p.name LIKE CONCAT('%', #{keyword}, '%')
            OR p.author LIKE CONCAT('%', #{keyword}, '%')
            OR p.publisher LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        ORDER BY p.created_at DESC
        LIMIT #{size}
        OFFSET #{offset}
    </select>

    <select id="countUserProductList"
            parameterType="hello.bookshop.common.dto.PageRequest"
            resultType="int">

        SELECT COUNT(*)
        FROM product p
        WHERE p.deleted_at IS NULL
        AND p.status = 'ACTIVE'
        <if test="categoryId != null">
            AND p.category_id = #{categoryId}
        </if>

        <if test="keyword != null and keyword != ''">
            AND (
                p.name LIKE CONCAT('%', #{keyword}, '%')
                OR p.author LIKE CONCAT('%', #{keyword}, '%')
                OR p.publisher LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

    </select>

    <select id="findUserProductDetail"
            parameterType="long"
            resultType="hello.bookshop.product.dto.response.UserProductDetailResponse">

        SELECT
            p.product_id,
            p.category_id,
            c.category_name,
            p.name,
            p.author,
            p.publisher,
            p.price,
            p.stock_quantity,
            p.description,
            p.status
        FROM product p
        LEFT JOIN category c
        ON p.category_id = c.category_id
        WHERE p.product_id = #{productId}
        AND p.deleted_at IS NULL
        AND p.status = 'ACTIVE'

    </select>

</mapper>